.error-div{
    position: fixed;
    bottom: -60px;
    height: 30px;
    width: 100vw;
    background-color: brown;
    transition: transform 600ms ease-in-out;
}
.error-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-msg{
    margin: 0;
    font-weight: 600;
    letter-spacing: 4px;
    color: cornsilk;
}